body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:241px;
  width:100px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
