body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:131px;
  width:303px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
